node_modules/
certs/
package-lock.json
*.log
*.blend
*.blend1
*.mp4
*.rar
*.3ds
*.x3d
*.ply
*.glb
*.zip
*.usdz
*.fbx
*.obj
assets/audio/arma/Shotgun/
assets/audio/arma/smg/
assets/audio/arma/faca/
assets/cenario/arvore/1f9jtr180dxk-Tree1ByTyroSmith/Tree1/Tree1.obj
assets/cenario/maos/
